<head>
  <link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/cdn/Bootstrap/bootstrap-v5.3.2.min.css">
<link rel="stylesheet" href="/static/cdn/fontawesome/css/all.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-black bgshadow top-fixed">
     
       
        <div class="container px-5 h3">
            <a class="nav-link text-light" href="/dashboard">Admin</a>

                <ul class="navbar-nav mb-2 text-center  ms-auto">

              <li class="nav-item mx-3 ">
                <a class="nav-link" href="/"><button  class="btn btn-outline-light">Logout</button></a>
              </li>
            
              
            </ul>
          </div>
      
    </nav> 
    




























    <script src="/static/cdn/Bootstrap/bootstrap-bundle-v5.3.2.min.js"></script>
    <script src="/static/cdn/fontawesome/js/all.js"></script>
</body>