<head>


</head>
<body class="bgg-dash">
    <%- include('./header.ejs') %>
   <div class="container mt-5 p-3 border rounded-2 glass">
    <div class="row">
<div class="col-3">
    <%- include('./left.ejs') %>


</div>
<div class="col-9 text-light">

    <div class="p-3 border rounded-2 py-5">
   <div class="display-1 fw-semibold text-center py-5">Welcome</div>

</div>



    </div>
   </div></div>

</body>