<body class="bgg">
    <div class=" p-3 border rounded-2 h5">
        <a href="/dashboard-add" class="text-decoration-none text-light"> <div class="border-bottom my-3"><span class="px-3"><img src="/images/add.png" alt=""></span> Add Product</div></a>
        <a href="/dashboard-viewproduct" class="text-decoration-none text-light"> <div class="border-bottom my-3"><span class="px-3"><img src="/images/view.png" alt=""></span>View Product</div></a>
        <a href="/dashboard-viewsignup" class="text-decoration-none text-light"> <div class="border-bottom my-3"><span class="px-3"><img src="/images/signup.png" alt=""></span>View Signup</div></a>
        <a href="/dashboard-admin" class="text-decoration-none text-light"> <div class="border-bottom my-3"><span class="px-3"><img src="/images/newcontact.png" alt=""></span>View Admin</div></a>
        <a href="/dashboard-add" class="text-decoration-none text-light"> <div class="border-bottom my-3"><span class="px-3"><img src="/images/edit.png" alt=""></span>Edit Banner</div></a>
        <a href="/dashboard-view" class="text-decoration-none text-light"> <div class="border-bottom my-3"><span class="px-3"><img src="/images/add.png" alt=""></span>xyz</div></a>
    </div>
</body>









