

<head>


</head>

<body class="">
    <%- include('./common/header.ejs') %>
<div class="container-fluid  bgshadow bg1">
            <div class="container py-3 mb-5">
                <div class="row py-4 text-center">
                    <div class="display-5 py-1 animation_in"> <span class="border-bottom"> ABOUT US</span></div>
                </div>
                <div class="row pb-4">
                    <div class="col-6 text-start pt-5 h5 animation_left">
                        <br>
                        <p class="my-5 py-5">
                            One of the leaders in Fashion, Lifestyle & Entertainment Industry. Talent Factory provides
                            the complete set of services right from conceptualisation of brand communication
                            <br><br><br> <button class="btn btn-outline-light w-25 bgshadow "><a href="mailto:ajlazer002@gmail.com" class="text-decoration-none text-light">Contact</a></button>
                        </p>

                    </div>
                  
                    <div class="col-6 text-start pt-5 animation_right">
                        <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner  bgshadow rounded-3">
                                <div class="carousel-item active" data-bs-interval="2000">
                                    <img src="images/bg-6.png" class="d-block img-fluid" alt="..." loading="lazy">
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img src="images/bg-61.png" class="d-block  img-fluid" alt="..." loading="lazy">
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img src="images/bg-62.png" class="d-block img-fluid " alt="..." loading="lazy">
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img src="images/bg-63.png" class="d-block img-fluid " alt="..." loading="lazy">
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img src="images/bg-64.png" class="d-block img-fluid " alt="..." loading="lazy">
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img src="images/bg-6.png" class="d-block img-fluid " alt="..." loading="lazy">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

<!-- who -->
<div class="container-fluid  bgshadow ">
    <div class="container py-3 mb-5">

        <div class="row pb-4">
            <div class="col-6 text-start pt-5 h5 animation_left">
                
                <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner  bgshadow">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="images/r.png" class="d-block img-fluid" alt="..." loading="lazy">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="images/r1.jpg.png" class="d-block  img-fluid" alt="..." loading="lazy">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="images/r2.webp.png" class="d-block img-fluid " alt="..." loading="lazy">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="images/r3.jpg.png" class="d-block img-fluid " alt="..." loading="lazy">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="images/r4.webp.png" class="d-block img-fluid " alt="..." loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 text-start pt-5  ">
                <div class="display-5 py-1 mb-3 animation_right"> <span class="border-bottom "> WHO WE ARE</span></div>
<h4 class=" animation_right">You are highly passionate towards becoming a clothing brand in all over world and we achive multiple awards as a best clothing brands.</h4>
                <ul>
                    <li class="animation_right">No. 1 Top Shopping Website & No. 5 Top Beauty Destination among Teens</li>
                    <li class="animation_right">No. 2 Fortune World’s Most Admired Companies</li>
                    <li class="animation_right">No. 2 American Customer Satisfaction Index Internet Retail Category</li>
                    <li class="animation_right">No. 2 Brand Finance Global 500: World’s Most Valuable Brand</li>
                    <li class="animation_right">No. 3 Interbrand Best Global Brand, 2022—Ranked in the top 5</li>
                    <li class="animation_right">YouGov Best Global Brands, 2021—Ranked in the top 7, two years running.</li>
                </ul>
            </div>
        </div>
    </div>
</div>




<!--  -->
        <div class="container py-5 mt-5  bgshadow mb-5 animation_out bg1">
            <div class="row  py-4 text-center">
                <div class="display-5 pb-4"><span class="border-bottom"> OUR TEAM</span></div>
                <div class="col-12 animation_out">
                    <p>
                        As industry leaders we take pride in charting new paths in new territory. We believe it is our
                        responsibility to travel further along the path of sustainability and ethical business and
                        inculcate a culture of transparency and provide an example to the sector. It is always
                        gratifying when our efforts are recognised. Thanks you for the bouquets!</p>
                </div>
            </div>

            <!-- cards -->

            <div class="row px-5 ">
                <div class="col-lg-3 col-sm-4 col-6 animation_out ">
                    <a href="product.html" class="text-decoration-none text-light">
                        <div class="card border-0 rounded-0 bg-transparent  bgshadow">
                            <img src="images/t1.png" class="card-img-top" alt="..." loading="lazy">
                            <div class="card-body  text-light">
                                <h4 class="card-title">Mr.David</h4>
                                <h6><i>- Ceo </i></h6>
                                <div class="card-text  py-2"> Teamwork is the force behind every successful business.
                                    Only when employees come together, share a common vision of the goal, put together
                                    their strengths, complement their weaknesses, and help each other in times of need-
                                    can an organization grow to its greatest heights. Teamwork leads to a multitude of
                                    benefits</div>
                                <span class=""> <a href=""><img src="/images/ins.png" alt="" class=" bgshaow "></a></span>
                                <span class=""> <a href=""><img src="/images/lin.png" alt="" class=" bgshaow "></a></span>
                                <span class=""> <a href=""><img src="/images/twi.png" alt="" class=" bgshaow "></a></span>

                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-4 col-6 animation_out">
                    <a href="product.html" class="text-decoration-none text-light">
                        <div class="card border-0 rounded-0 bg-transparent bgshadow">
                            <img src="images/t2.png" class="card-img-top" alt="..." loading="lazy">
                            <div class="card-body  text-light">
                                <h4 class="card-title">Mr.Martin</h4>
                                <h6><i>- Manager </i></h6>
                                <div class="card-text py-2"> Teamwork is the force behind every successful business.
                                    Only when employees come together, share a common vision of the goal, put together
                                    their strengths, complement their weaknesses, and help each other in times of need-
                                    can an organization grow to its greatest heights. Teamwork leads to a multitude of
                                    benefits</div>

                                <span class=""> <a href=""><img src="/images/lin.png" alt="" class=" bgshaow "></a></span>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-6 animation_out">
                    <a href="product.html" class="text-decoration-none text-light">
                        <div class="card border-0 rounded-0 bg-transparent bgshadow">
                            <img src="images/t3.png" class="card-img-top" alt="..." loading="lazy">
                            <div class="card-body  text-light">
                                <h4 class="card-title">Mr.Hanry</h4>
                                <h6><i>- Cheif Creator</i></h6>
                                <div class="card-text py-2"> Teamwork is the force behind every successful business.
                                    Only when employees come together, share a common vision of the goal, put together
                                    their strengths, complement their weaknesses, and help each other in times of need-
                                    can an organization grow to its greatest heights. Teamwork leads to a multitude of
                                    benefits</div>

                                <span class=""> <a href=""><img src="/images/lin.png" alt="" class=" bgshaow "></a></span>
                                <span class=""> <a href=""><img src="/images/twi.png" alt="" class=" bgshaow "></a></span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-4 col-6 animation_out">
                    <a href="product.html" class="text-decoration-none text-light">
                        <div class="card border-0 rounded-0 bg-transparent bgshadow">
                            <img src="images/t4.png" class="card-img-top" alt="..." loading="lazy">
                            <div class="card-body  text-light">
                                <h4 class="card-title">Mr.Peter</h4>
                                <h6><i>- Designer Head</i></h6>
                                <div class="card-text  py-2"> Teamwork is the force behind every successful business.
                                    Only when employees come together, share a common vision of the goal, put together
                                    their strengths, complement their weaknesses, and help each other in times of need-
                                    can an organization grow to its greatest heights. Teamwork leads to a multitude of
                                    benefits</div>
                                <span class=""> <a href=""><img src="/images/ins.png" alt="" class=" bgshaow "></a></span>
                                <span class=""> <a href=""><img src="/images/lin.png" alt="" class=" bgshaow "></a></span>
                                <span class=""> <a href=""><img src="/images/twi.png" alt="" class=" bgshaow "></a></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <%- include('./common/footer.ejs') %>

</body>
<script>
    ScrollReveal({ reset: true,
    distance:"60px",
    duration:2500,
    delay:400});
    
    ScrollReveal().reveal('.animation_in', { delay: 500,origin:'top',interval:200 });
    ScrollReveal().reveal('.animation_out', { delay: 500,origin:'bottom',interval:200 });
    ScrollReveal().reveal('.animation_left', { delay: 500,origin:'left',interval:200 });
    ScrollReveal().reveal('.animation_right', { delay: 500,origin:'right',interval:200 });
    
    </script>