

<%- include('./common/header.ejs') %>
<body>



<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel carousel-fade bgshadow mt-5" data-bs-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active carousel-animation" data-bs-interval="5000">
          <img src="images/s1.png" class="d-block w-100" alt="..." loading="lazy">
          <div class="carousel-caption d-none d-md-block">
            <div class="display-4 fw-bold tfade">DO passionately</div>
          </div>
        </div>
        <div class="carousel-item carousel-animation" data-bs-interval="5000">
          <img src="images/slider2.png" class="d-block w-100" alt="..." loading="lazy">
          <div class="carousel-caption d-none d-md-block">
            <div class="display-4 fw-bold tfade">LIVE meaningfully</div>
          </div>
        </div>
        <div class="carousel-item carousel-animation" data-bs-interval="5000">
          <img src="images/slider3.png" class="d-block w-100" alt="..." loading="lazy">
          <div class="carousel-caption d-none d-md-block">
            <div class="display-4 fw-bold tfade">DREAM fearlessly</div>
          </div>
        </div>
        <div class="carousel-item carousel-animation" data-bs-interval="5000">
          <img src="images/s2.png" class="d-block w-100" alt="..." loading="lazy">
          <div class="carousel-caption d-none d-md-block">
            <div class="display-4 fw-bold tfade">LIVE meaningfully</div>
          </div>
        </div>
        <div class="carousel-item carousel-animation" data-bs-interval="5000">
          <img src="images/s3.png" class="d-block w-100" alt="..." loading="lazy">
          <div class="carousel-caption d-none d-md-block">
            <div class="display-4 fw-bold tfade">DO passionately</div>
          </div>
        </div>
        <div class="carousel-item carousel-animation" data-bs-interval="5000">
          <img src="images/s4.png" class="d-block w-100" alt="..." loading="lazy">
          <div class="carousel-caption d-none d-md-block">
            <div class="display-4 fw-bold tfade">DREAM fearlessly</div>
          </div>
        </div>


      </div>

</div>


<!-- Quete -->

<div class="container py-5 text-center">
      <div class="col-12 display-6 px-2 animation_out">
       <input type="hidden" id="ajit" value="<%=nik%>">
        Add some edge to your wardrobe. We have the latest techwear pants, jackets, hoodies, shoes, masks and more.
      </div>
</div>

<!-- tabs -->

<div class="container-fluid bgshadow px-5 bg1 animation_out">
      <div class="container pb-5  text-center">
        <div class="py-5 display-5 fw-bold "><span class="border-bottom ">Collection List</span></div>

        <div class="row bgshadow ">
          <div class="col-sm-6 col-12 p-0 animation_out"><a href="/T-shirts" class="text-light text-decoration-none"><img
                src="images/1.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="aa fw-bold bgshadow ">T-shirts</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Joggers" class="text-light text-decoration-none"><img
                src="images/2.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="b fw-bold bgshadow">Joggers</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Sneakers" class="text-light text-decoration-none"><img
                src="images/4.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="c fw-bold bgshadow">Sneakers</h1>
            </a></div>


          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Hoodie" class="text-light text-decoration-none"><img
                src="images/3.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="d fw-bold bgshadow">Hoddie</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Hoodie" class="text-light text-decoration-none"><img
                src="images/5.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="e fw-bold bgshadow">Upper Wear</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Joggers" class="text-light text-decoration-none"><img
                src="images/6.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="f fw-bold bgshadow">Lower Wear</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="" class="text-light text-decoration-none"><img src="images/7.png"
                alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="g fw-bold bgshadow">juwls</h1>
            </a></div>

          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/T-shirts" class="text-light text-decoration-none"><img
                src="images/8.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="h fw-bold bgshadow">Coats</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Hoodie" class="text-light text-decoration-none"><img
                src="images/9.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="i fw-bold bgshadow">Hoddie</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/T-shirts" class="text-light text-decoration-none"><img
                src="images/10.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="j fw-bold bgshadow">Full sleevs</h1>
            </a></div>
          <div class="col-sm-3 col-6 p-0 animation_out"><a href="/Joggers" class="text-light text-decoration-none"><img
                src="images/11.png" alt="" class="img-fluid bgshadow" loading="lazy">
              <h1 class="k fw-bold bgshadow">NInjas</h1>
            </a></div>
        </div>
      </div>
</div>


<!--weekly  offer -->

<div class="container ">
      <div class="py-5 mb-5 display-5 fw-bold text-center animation_in"><span class="border-bottom">Weekly Offer</span></div>

      <div class="row my-4 bgshadow">
        <div class="col-sm-1 col-2  my-4 bgshadow animation_left">
          <div class="col-12 my-2 "><img src="images/p2.webp" alt="" class="img-fluid" loading="lazy"></div>
          <div class="col-12  my-2 "><img src="images/p3.webp" alt="" class="img-fluid" loading="lazy"></div>
          <div class="col-12  my-2 "><img src="images/p4.webp" alt="" class="img-fluid" loading="lazy"></div>
          <div class="col-12 my-2 "><img src="images/p5.webp" alt="" class="img-fluid" loading="lazy"></div>
          <div class="col-12 my-2 "><img src="images/p6.webp" alt="" class="img-fluid" loading="lazy"></div>
        </div>
        <div class="col-sm-5 col-10 my-4 animation_left">

          <div class="col-10">
            <img src="images/p1.webp" alt="" class="img-fluid  bgshadow" loading="lazy">
          </div>
        </div>
        <div class="col-sm-6 col-12 my-4 animation_right">
          <h2 class=" animation_right">Techwear Cargo Pants | URBXN.1 Techwear</h2>
          <img src="images/5s.png" alt="" class=" animation_right">

          <div class="h5 fs-light pb-4 animation_right"> <del> Rs. 8,100.00</del> Rs. 4,300.00</div>

          <div class=" pb-4 animation_right">
            <label for="" class="h5">COLOR</label> <label for="" class="h5 ps-5">SIZE</label><br>
            <select name="country" id="" class=" bgshadow">
              <option value="location ">Black</option>
              <option value="location">White</option>
              <option value="location">Red</option>
              <option value="location">Orange</option>
            </select>
            <select name="country" id="" class="ms-3 ps-4 bgshadow">
              <option value="location ">S</option>
              <option value="location">M</option>
              <option value="location">L</option>
              <option value="location">XL</option>
              <option value="location">XXL</option>
            </select>
          </div>
          <div class="col-12 animation_right">
            <button class="btn btn-outline-light h1 w-100 rounded-2 bgshadow " data-bs-toggle="modal" data-bs-target="#static">QUICK VIEW</button>
          </div>
        </div>
      </div>
</div>


<!-- model -->
<div class="modal fade" id="static" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable modal-lg">
    <div class="modal-content text-light">
      <div class="modal-header bg-black">
        <h1 class="modal-title fs-5 " id="staticBackdrop">Quick View</h1>
        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body bg-black text-light">
                  <div class="container my-5  ">
          <div class="row p-5  bgshadow ">
              <div class="col-lg-1 col-sm-2">
                  <div class="col-12 my-2"><img src="images/p2.webp" alt="" class="img-fluid bgshadow" loading="lazy"></div>
                  <div class="col-12 my-2"><img src="images/p3.webp" alt="" class="img-fluid bgshadow" loading="lazy"></div>
                  <div class="col-12 my-2"><img src="images/p4.webp" alt="" class="img-fluid bgshadow" loading="lazy"></div>
                  <div class="col-12 my-2"><img src="images/p5.webp" alt="" class="img-fluid bgshadow" loading="lazy"></div>
                  <div class="col-12 my-2"><img src="images/p6.webp" alt="" class="img-fluid bgshadow" loading="lazy"></div>
              </div>
              <div class="col-lg-5 col-sm-10">
          

                  <div class="col-12 bgshadow">
                      <img src="images/p1.webp" alt="" class="img-fluid w-100" loading="lazy">
                  </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                  <h2>Dontae Catlett - - Urban Ninja Tapered Techwear Cargo Pants</h2>
                  <img src="images/5s.png" alt="" class="my-3" width="100">
                  <div class="h5 fs-light pb-4"> <del> Rs. 8,100.00</del> Rs. 4,300.00</div>

                  <div class=" pb-4">
                      <label for="" class="h5">COLOR</label> <label for="" class="h5 ps-5">SIZE</label><br>
                      <select name="country" id="" class="">
                          <option value="location ">Black</option>
                          <option value="location">White</option>
                          <option value="location">Red</option>
                          <option value="location">Orange</option>
                      </select>
                      <select name="country" id="" class="ms-3 ps-4">
                          <option value="location ">S</option>
                          <option value="location">M</option>
                          <option value="location">L</option>
                          <option value="location">XL</option>
                          <option value="location">XXL</option>
                      </select>
                  </div>
                  <div class="col-12 bgshadow">
                      <button class="btn btn-outline-light h4 w-100 rounded-2">BUY NOW</button>
                      <button class="btn btn-outline-light h4 w-100 rounded-2">ADD TO CART</button>
                  </div>
                  
              </div>
          </div>


                </div>
            </div>
      <div class="modal-footer bg-black">
        <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal"> Close</button>
        <button type="button" class="btn btn-outline-light"><a href="/Joggers" class="text-decoration-none text-light">View Full</a></button>
      </div>
    </div>
  </div>
</div>

  
<!-- shoes -->
<h1 class="pt-2  fw-bold text-center animation_in"><span class="border-bottom txshadow "> Sneak Peak at some of our Shoes</span>
</h1>

<div class="container py-5 my-5">

      <div class="row">
        <div class="col-lg-2 col-sm-4  my-2 animation_left">
          <div class="card border-0 rounded-0 bg-transparent bgshadow">
            <img src="images/shoes/1.webp" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">

              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span><input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#01FF0A" class="ctype">
                <input type="color" name="" id="" value="#DAC7C7" class="ctype">

              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-4  my-2 animation_left">
          <div class="card border-0 rounded-0 bg-transparent bgshadow">
            <img src="images/shoes/2.jpg" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span><input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#01FF0A" class="ctype">
                <input type="color" name="" id="" value="#DAC7C7" class="ctype">

              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-4  my-2 animation_left">
          <div class="card border-0 rounded-0 bg-transparent bgshadow">
            <img src="images/shoes/3.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span><input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#01FF0A" class="ctype">
                <input type="color" name="" id="" value="#DAC7C7" class="ctype">
                <input type="color" name="" id="" value="#005ef5" class="ctype">
              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-4  my-2 animation_left">
          <div class="card border-0 rounded-0 bg-transparent bgshadow">
            <img src="images/shoes/5.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span><input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#ffffff" class="ctype">
                <input type="color" name="" id="" value="#01FF0A" class="ctype">
                <input type="color" name="" id="" value="#005ef5" class="ctype">
              </span>
            </div>
          </div>
        </div>


        <div class="col-lg-2 col-sm-4  my-2 animation_left">
          <div class="card border-0 rounded-0 bg-transparent bgshadow">
            <img src="images/shoes/6.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span>
                <input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#ffffff" class="ctype">
                <input type="color" name="" id="" value="#01FF0A" class="ctype">
                <input type="color" name="" id="" value="#005ef5" class="ctype">

              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-4  my-2 animation_left">
          <div class="card border-0 rounded-0 bg-transparent bgshadow">
            <img src="images/shoes/7.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span><input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#01FF0A" class="ctype">
                <input type="color" name="" id="" value="#005ef5" class="ctype">

              </span>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 text-center py-5 my-2">
        <button class="btn btn-outline-light  rounded-2 w-25 bgshadow animation_in"><a href="/Sneakers" class="text-decoration-none text-light">VIEW MORE</a></button>
      </div>
      <div class="col-12 text-center py-5  bgshadow animation_out">
        <h2 class=" fw-bold">TEXT US!!</h2>
        <h5>Got Questions? email us at <a href="mailto:ajlazer002@gmail.com"
            class="text-decoration-none text-light">ajlazer002@gmail.com ⤤</a></h5>

      </div>

</div>


<!-- animation -->

<div class="container py-5 my-5  bgshadow bg1">
      <div class="row ">
        <div class="col-sm-6 col-12 animation_left">
          <div class="col-8 p-5 ">
            <div class="la anime4">
             <a href="/Sneakers"> <img src="images/shoes/7.png" alt="" class="img-fluid a animation1" width="180" loading="lazy">
              <img src="images/shoes/2.jpg" alt="" class="img-fluid a animation2" width="250" loading="lazy">
              <img src="images/shoes/p5.webp" alt="" class="img-fluid a animation3" width="200" loading="lazy">
              <img src="images/shoes/p1.webp" alt="" class="img-fluid a animation4" width="230" loading="lazy">
              <img src="images/shoes/1.webp" alt="" class="img-fluid a animation" width="150" loading="lazy"></a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-12 animation_right">
          <h5>BRAND NEW</h5>
          <h1>Premium Shoe Collection</h1>
          <h4>Check out Ninja Dark's new line of shoes to perfectly compliment your TechWear.</h4>
          <button class="btn btn-outline-light h4 rounded-2">Shop Shoes</button>
          <button class="btn btn-outline-light h4 rounded-2">Shop All Collections</button>
        </div>
      </div>
</div>


<!-- lowers -->

<div class="container ">
      <div class="row ">
        <h1 class="py-5  fw-bold text-center animation_in"><span class="border-bottom">Sneak Peak at some of our Joggers</span></h1>
        <div class="col-lg-2 col-sm-4 my-2 animation_out">
          <div class="card border-0 rounded-0 bg-transparent bgshadow">
            <img src="images/pants/1.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Pants & Joggers| URBXN.1 Techwea</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span>
                <input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#ffffff" class="ctype">
                <input type="color" name="" id="" value="#01FF0A" class="ctype">
                <input type="color" name="" id="" value="#005ef5" class="ctype">


              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-4 my-2 animation_out">
          <div class="card border-0 rounded-0 bg-transparent bgshadow">
            <img src="images/pants/2.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span>
                <input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#ffffff" class="ctype">

              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-4  my-2 animation_out">
          <div class="card border-0 rounded-0 bg-transparent bgshadow">
            <img src="images/pants/3.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span>
                <input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#ffffff" class="ctype">
                <input type="color" name="" id="" value="#01FF0A" class="ctype">



              </span>
            </div>
          </div>
        </div>
 
        <div class="col-lg-2 col-sm-4  my-2 animation_out">
          <div class="card border-0 rounded-0  bg-transparent bgshadow">
            <img src="images/pants/4.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span>
                <input type="color" name="" id="" value="#ff0000" class="ctype">

                <input type="color" name="" id="" value="#005ef5" class="ctype">

              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-4  my-2 animation_out">
          <div class="card border-0 rounded-0 bg-transparent bgshadow">
            <img src="images/pants/5.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span>
                <input type="color" name="" id="" value="#ff0000" class="ctype">

              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-4  my-2 animation_out">
          <div class="card border-0 rounded-0 bg-transparent  bgshadow">
            <img src="images/pants/6.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span>
                <input type="color" name="" id="" value="#01FF0A" class="ctype">
                <input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#ffffff" class="ctype">

              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 text-center py-5 ">
        <button class="btn btn-outline-light rounded-2 w-25 animation_out bgshadow"><a href="/Joggers" class="text-decoration-none text-light">VIEW MORE</a></button>
      </div>



</div>

<!-- upper -->

<div class="container ">
      <h1 class="py-2 fw-bold text-center py-5 animation_out"><span class="border-bottom ">Sneak Peak at some of our Upper</span></h1>

      <div class="row">
        <div class="col-lg-2 col-sm-4 animation_out">
          <div class="card border-0 rounded-0 bg-transparent bgshadow">
            <img src="images/upper/1.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span>
                <input type="color" name="" id="" value="#01FF0A" class="ctype">
                <input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#ffffff" class="ctype">
              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-4 animation_out">
          <div class="card border-0 rounded-0  bg-transparent bgshadow">
            <img src="images/upper/2.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span>

                <input type="color" name="" id="" value="#01FF0A" class="ctype">

                <input type="color" name="" id="" value="#ffffff" class="ctype">
              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-4 animation_out">
          <div class="card border-0 rounded-0 bg-transparent bgshadow">
            <img src="images/upper/3.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span>
                <input type="color" name="" id="" value="#01FF0A" class="ctype">
                <input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#ff23ff" class="ctype">
                <input type="color" name="" id="" value="#ffffff" class="ctype">
              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-4 animation_out">
          <div class="card border-0 rounded-0  bg-transparent bgshadow">
            <img src="images/upper/4.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span>

                <input type="color" name="" id="" value="#01FF0A" class="ctype">
                <input type="color" name="" id="" value="#ffffff" class="ctype">
              </span>
            </div>
          </div>
        </div>


        <div class="col-lg-2 col-sm-4 animation_out">
          <div class="card border-0 rounded-0  bg-transparent bgshadow">
            <img src="images/upper/5.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span>
                <input type="color" name="" id="" value="#01FF0A" class="ctype">
                <input type="color" name="" id="" value="#01FF0A" class="ctype">
                <input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#ffffff" class="ctype">
              </span>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-sm-4 animation_out">
          <div class="card border-0 rounded-0 bg-transparent bgshadow">
            <img src="images/upper/6.png" class="card-img-top" alt="..." loading="lazy">
            <div class="card-body text-light">
              <h5 class="card-title">Techwear Cargo Pants | URBXN.1 Techwear</h5>
              <img src="images/5s.png" alt="" class="py-2">
              <p class="card-text"> <del> Rs. 8,100.00</del> Rs. 4,300.00</p>
              <span>

                <input type="color" name="" id="" value="#ff0000" class="ctype">
                <input type="color" name="" id="" value="#ffffff" class="ctype">
              </span>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12 text-center py-5">
        <button class="btn btn-outline-light animation_out rounded-2 w-25 bgshadow"><a href="/T-shirts" class="text-decoration-none text-light">VIEW MORE</a></button>
      </div>

</div>

<!-- animation -->
<div class="container py-5 bgshadow">
      <div class="row">
        <div class="col-sm-6 col-12 animation_left">
          <div class="col-8 p-5">
            <div class="la anime4">

             <a href="/Hoodie"> <img src="images/pants/5.png" alt="" class="img-fluid a animation1" width="180" loading="lazy">
              <img src="images/2.png" alt="" class="img-fluid a animation2" width="190" loading="lazy">
              <img src="images/pants/2.png" alt="" class="img-fluid a animation3" width="200" loading="lazy">
              <img src="images/pants/12.webp" alt="" class="img-fluid a animation4" width="200" loading="lazy">
              <img src="images/pants/4.png" alt="" class="img-fluid a animation" width="160" loading="lazy"></a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-12 animation_right">
          <h5>BRAND NEW</h5>
          <h1>Premium Clothes Collection</h1>
          <h4 class="mb-4">Check out Ninja Dark's new line of Clothes to perfectly compliment your TechWear.</h4>
          <button class="btn btn-outline-light bgshadow rounded-2">Shop Clothes</button>
          <button class="btn btn-outline-light bgshadow rounded-2">Shop All Collections</button>
        </div>
      </div>
</div>


<!-- sign up -->
<div class="container-fluid text-center py-5 my-5 bg1  bgshadow">
      <div class="col-12  py-5 my-5">
        <h1 class=" fw-bold animation_out">Sign up & Save</h1>
        <h4 class="py-4 animation_out">Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</h4>
        <div class="animation_out">
          <input type="search" class="border-0 p-2 out w-25" placeholder="Enter your Email"><button
            class="border-0 p-2  bg-black text-light px-5 ">Subscribe</button>
        </div>

      </div>
</div>

<!-- sign up -->
<div class="container text-center py-5 my-5 ">
      <div class="display-5 mb-5 fw-bold animation_out"><span class="border-bottom txshadow">Our Guarantees</span></div>
      <div class="row  justify-content-center py-4">
        <div class="col-sm-3 animation_out">
          <img src="images/shipping.png" alt="" class="img-fluid bgshaow" width="200" loading="lazy">
        </div>

        <div class="col-sm-3 animation_out">
          <img src="images/30days.png" alt="" class="img-fluid bgshaow" width="200" loading="lazy">
        </div>

        <div class="col-sm-3 animation_out">
          <img src="images/100p.png" alt="" class="img-fluid bgshaow" width="200" loading="lazy">
        </div>

      </div>
</div>


<%- include('./common/footer.ejs') %>

</body>
<script>
ScrollReveal({ reset: true,
distance:"60px",
duration:2500,
delay:400});

ScrollReveal().reveal('.animation_in', { delay: 500,origin:'top',interval:200 });
ScrollReveal().reveal('.animation_out', { delay: 500,origin:'bottom',interval:200 });
ScrollReveal().reveal('.animation_left', { delay: 500,origin:'left',interval:200 });
ScrollReveal().reveal('.animation_right', { delay: 500,origin:'right',interval:200 });

</script>