
<head>

   
</head>
<body class=" ">
<%- include('./common/header.ejs') %>
<div class="container-fluid bgshadow py-2 animation_in">
<div class="container my-3 bgshadow py-2 contact animation_in">




<!-- form -->
 

<div class="container my-5 animation_in">
<div class="row ">
    <div class=" fw-bold h1 text-center mb-5"><span class="border-bottom"> Sign Up</span></div>
    <div class="col-md-6 col-12 form py-4 text-light">
        <form action="/signup" method="post">
<div class=" px-1 animation_in">
    <label for="">User Name</label> <br>
    <input type="text" class="py-1 my-2 w-100 bg-dark-subtle rounded-2 out  bgshadow" name="uname">
</div>
<div class=" px-1 animation_in">
    <label for="">Email</label> <br>
    <input type="text" class="py-1 my-2 w-100 bg-dark-subtle rounded-2 out bgshadow" name="email">
</div>
<div class=" px-1 animation_in">
    <label for="">Password</label> <br>
    <input type="text" class="py-1 my-2 w-100 bg-dark-subtle rounded-2 out bgshadow" name="password">
</div>
<div class=" px-1 my-3 animation_in">
    <label for="">Phone Number</label> <br>
    <input class="py-1 my-2 w-100 bg-dark-subtle rounded-2 out bgshadow" name="phone" >
</div>

<div class=" px-1 my-5 text-center">
   <input type="submit" class="btn btn-outline-light py-1 my-2 w-50 rounded-2  bgshadow" value="Create Account">
    <!-- <button class=" btn btn-outline-light py-1 my-2 w-50 rounded-2  bgshadow">Create Account</button> -->
</div>
</form>
<div class=" px-1 text-center">
    <div class="">Already have a account? <a href="/signin" class="text-decoration-none text-light"> Signin ⬈</a></span>
   
</div>
</div>
    </div>
<div class="col-md-6 col-12">
    <div class="col-12 p-5 ">
        <div class="la anime4">
         <a href="/Sneakers"> <img src="images/shoes/7.png" alt="" class="img-fluid a animation1" width="350" loading="lazy">
          <img src="images/shoes/2.jpg" alt="" class="img-fluid a animation2" width="400" loading="lazy">
          <img src="images/shoes/p5.webp" alt="" class="img-fluid a animation3" width="350" loading="lazy">
          <img src="images/shoes/p1.webp" alt="" class="img-fluid a animation4" width="270" loading="lazy">
          <img src="images/shoes/1.webp" alt="" class="img-fluid a animation" width="200" loading="lazy"></a>
        </div>
      </div>


</div>




</div>
</div></div></div>
<%- include('./common/footer.ejs') %>
</body>
<script>
    ScrollReveal({ reset: false,
    distance:"60px",
    duration:2500,
    delay:400});
    
    ScrollReveal().reveal('.animation_in', { delay: 500,origin:'top',interval:200 });
    ScrollReveal().reveal('.animation_out', { delay: 500,origin:'bottom',interval:200 });
    ScrollReveal().reveal('.animation_left', { delay: 500,origin:'left',interval:200 });
    ScrollReveal().reveal('.animation_right', { delay: 500,origin:'right',interval:200 });
    
    </script>