


  <div class="container-fluid bg-black border-top text-light bgshadow">
    <div class="container ">
    <div class="row py-5">

      <div class="col-lg-3 col-md-6 col-12 py-4 animation_out">
        <ul class="footer">
          <li class="h4">Contact Us</li>
          <li>Form</li>
          <li>Store Locator</li>
        </ul>
      </div>



      <div class="col-lg-3 col-md-6 col-12 py-4 animation_out">
        <ul class="footer">
          <li class="h4">RETURNS REQUEST</li>
          <li>RETURNS POLICY</li>
          <li>TRACK YOUR ORDER</li>
        </ul>
      </div>

     

      <div class="col-lg-3 col-md-6 col-12 py-4 animation_out">
        <ul class="footer">
          <li class="h4">CUSTOMER CARE</li>
          <li>Timing: 10 AM - 6:00 PM (Mon - Sat)</li>
          <li>Call: +91 545454446</li>
          <li>E-mail: Support@zorourban.co.in</li>
        
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 col-12 py-4 animation_out">
        <ul class="footer border-start border-dark border-3 ">
          <h4 class="">
            SIGN UP AND SAVE</h4>
         
          <li class="my-1">Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</li>

          <label class="">
            <span class="animation_out"> <a href=""><img src="/images/fb.png" alt="" class=" "></a></span>
            <span class="animation_out"> <a href=""><img src="/images/ins.png" alt="" class=" "></a></span>
            <span class="animation_out"> <a href=""><img src="/images/lin.png" alt="" class=" "></a></span>
            <span class="animation_out"> <a href=""><img src="/images/yt.png" alt="" class=" "></a></span>
            <span class="animation_out"> <a href=""><img src="/images/twi.png" alt="" class=" "></a></span>
          </label>
          
        </ul>
      </div>
    </div>
<div class="col-12 text-light bgshadow text-end pb-5 mb-5 pe-5">© 2023 UrbanZoro</div>

  </div>
  </div>











<script src="/static/cdn/Bootstrap/bootstrap-bundle-v5.3.2.min.js" ></script>
</body>
</html>