<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <link href="/static/cdn/Bootstrap/bootstrap-v5.3.2.min.css" rel="stylesheet">
  <script src="/static/cdn/ajax/jquery.min.js"></script>
  <link  href="/static/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/cdn/fontawesome/css/all.css">
  <link rel="icon" href="/images/logo.gif">
  <!-- <script src="https://unpkg.com/scrollreveal"></script> -->

</head>

<body>
  <div class="container-fluid p-0 sticky-top">

    <div>

      <div class="container-fluid d-flex justify-content-center bg-black m-0 p-0">

        <div class="nevs d-flex w-100 text-center justify-content-between p-0">
          <div>
            <button class="border-0 bg-transparent p-4" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img src="/images/search.png" alt="cart"
                width="35"></button>
            <div class="offcanvas offcanvas-top  search" tabindex="-1" id="offcanvasTop"
              aria-labelledby="offcanvasTopLabel">
              <div class="offcanvas-header ">
                <button type="button" class="btn-close text-light" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body text-center display-5">
                <img src="/images/search.png" width="35" alt="">
                <input type="search" class=" rounded-2 text-light py-3 w-50 bg-transparent  " class="btn-close"
                  data-bs-dismiss="collapse" aria-label="Close" placeholder="exp.Hoodie">
              </div>
            </div>
          </div>
          <div class=" logo"> <a class=" " href="/"><img src="/images/logo.gif" alt="" class="py-0"
                width=""></a></div>
      


          <div class="p-4 d-none d-md-flex">
            <a class=" me-3" href="/cart"><img src="/images/cart.png" alt="cart" width="40"></a>
            <% if (role.user) { %>           
            <div class="profilepic"><%= role.user  %></div>  
              <% } else { %>
                <a class=" " href="/signin"><button class="btn btn-outline-light rounded-2 fw-bold animation_out bgshadow">Signup</button> </a>                  
                      <% } %>
          </div>
          
          <button class="navbar-toggler border-0 out d-md-none  px-3" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-solid fa-bars fs-3"></i>         
           </button>
        </div>
      </div>

    </div>

    <div>

      <!-- nav -->

      <nav class="navbar navbar-expand-lg navbar-dark bg-black bgshadow">
        <div class="container px-5">


          <div class="collapse  navbar-collapse" id="navbarSupportedContent">

<div class="d-sm-none">
  <div>
    <div class="p-4 d-flex justify-content-between border">
   <div class=""> <a class=" me-3 pt-4" href="/cart"><img src="/images/cart.png" alt="cart" width="40"></a></div>  
      <% if (role.user) { %>           
      <div class="profilepic"><%= role.user  %></div>  
        <% } else { %>
          <a class=" " href="/signin"><button class="btn btn-outline-light rounded-2 fw-bold animation_out bgshadow">Signup</button> </a>                  
                <% } %>
    </div>
  </div>
</div>


            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-center ">

              <li class="nav-item mx-3 ">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item mx-3 ">
                <a class="nav-link" href="/Sneakers">Sneakers</a>
              </li>
              <li class="nav-item mx-3 ">
                <a class="nav-link" href="/T-shirts">T-shirts</a>
              </li>
              <li class="nav-item mx-3 ">
                <a class="nav-link" href="/Joggers">Joggers</a>
              </li>
              <li class="nav-item mx-3 ">
                <a class="nav-link" href="/Hoodie">Hoodie</a>
              </li>
              <li class="nav-item mx-3 ">
                <a class="nav-link" href="/Jewellery">Jewellery</a>
              </li>
              <li class="nav-item mx-3 ">
                <a class="nav-link" href="/Contact">Contact </a>
              </li>
              <li class="nav-item mx-3 ">
                <a class="nav-link" href="/About">About</a>
              </li>


            </ul>
          </div>
        </div>
      </nav>

    </div>



  </div>

<!-- cart -->


  <button class="btn btn-transparent bg-black px-3 carts" data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasScrolling"><img src="/images/cart.png" alt=""></button>
<div class="offcanvas offcanvas-end bg-black" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
  id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header border-bottom border-2 ">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel"><img src="image/cart.png" alt="" class="pb-2"><span
        class="text-light fw-bold h4 px-5">YOUR CART</span></h5>
    <button type="button" class="btn-close py-0 pb-3 pe-3 lol" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body text-light ">

    <div id="cartbody">

    </div>

  
    

    <div class=" pt-3 border-top border-2 ">


      <!-- <div class="mt-4 pt-4">
    
        <table class="table text-light ">
          <tbody>
            <tr>
              <th scope="row">Subtotal </th>
              <td>₹68,000 </td>

            </tr>
            <tr>
              <th scope="row">Shipping</th>
              <td>₹650 </td>

            </tr>
            <tr>
              <th scope="row">Tax </th>
              <td>₹12,100 </td>

            </tr>
            <tr>
              <th scope="row">Grand Total</th>
              <td>₹91,680 </td>

            </tr>
            <tr>
              <label class="x mb-2 ">
                <input type="text" name="" placeholder="Enter A Coupon Code" class="bg-dark rounded-2 out text-light">
                <button class="btn btn-transparent p-1 ">Apply</button>
              </label>
            </tr>
          </tbody>
        </table>
      </div> -->
      <div class="x text-light">
        <button class="btn btn-outline-light "  data-bs-dismiss="offcanvas" aria-label="Close">Continue Shoping</button>
      <a href="/cart">  <button class="btn btn-outline-light px-3 ms-2 ">Checkout</button></a>
        <div id="tprice">

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/static/script.js"></script>


